<heder class="header">
  <div class="container header__container">
    <a href="" class="logo link">Brit<span class="logo__accent">lex</span></a>
    <button
            class="menu__btn"
            >
            <svg class="menu__icon" width="34" height="19" aria-label="Перемикач мобільного меню">
              <use href="./images/svg/icons.svg#burger-menu"></use>
            </svg>
          </button>
    <!-- nav  -->
      <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item"><a href="" class="nav__link link">Home</a></li>
        <li class="nav__item">
          <a href="" class="nav__link link">Skills</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav__link link">Pricing</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn">Let’s Talk</button>
  </div>
</heder>