<section class="hero">
 <div class="container hero__container">
    <img class="hero__img" src="./images/hero-img.png" alt="Learning-languages" width="299" height="299">
   <div class="hero__block">
     <h1 class="hero__title hero__title--smphone title">Learn Any<br/>
Foreign Language</h1>
   <h1 class="hero__title hero__title--lgphone title">Learn Any
Foreign Language</h1>
   <h1 class="hero__title hero__title--rest title">Learn<br/> Any
Foreign Language</h1>
  <svg class="hero__icon" width="51" height="51" aria-label="Light-bulb">
              <use href="./images/svg/icons.svg#light-bulb"></use>
            </svg>
    <p class="hero__text">With our teachers who write a program
for each student, you will be able to make
your first sketch after the first lesson.</p>
    <button class="hero__btn btn" type="button">Get started</button>
   </div>
 </div>
</section>