$breakpoints: (
 'smphone': 320px,
  'lgphone': 575px,
  'smtablet': 768px,
  'lgtablet': 992px,
  'desktop': 1338px,
);

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;  

  // lgphone screen
  @media screen and (min-width: 575px) {
  width: 521px;
  padding-right: 15px;
  padding-left: 15px;
  }

  // smtablet screen
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  // smtablet screen
  @media screen and (min-width: 992px) {
    width: 960px;
  }

  // desktop screen
  @media screen and (min-width: 1338px) {
    width: 1338px;
  }
}
