.header{
    &__container{
        display: flex;
        align-items: center;
        padding-top:36px;
        padding-bottom: 29px;
             @media screen and (min-width: 320px) and (max-width: 991px) {
     justify-content: space-between;
}
}

&__btn {
  &:hover, 
  &:focus {
    color: #ffffff;
    background-color: #263238;
    }
        // smtablet screen
     @media screen and (min-width: 992px) {
padding: 9.5px 38px;
font-size: 18px;
line-height: calc(27/ 18);
border: 2px solid #263238;
border-radius: 5px;
background-color: #ffffff;
}
   // desktop screen
     @media screen and (min-width: 1338px) {
min-width: 312px;
padding: 18px 54px;
font-size: 20px;
line-height: calc(30/ 20);
}
}
}


.logo {
font-family: inherit;
font-size: 24px;
line-height: calc(36 / 24);
color: #000000;
&__accent {
   color:#939393;
}
 @media screen and (min-width: 992px) {
  margin-right: 168px;
          }
          @media screen and (min-width: 1338px) {
     margin-right: 236px;
      }
}
.menu {
  align-items: center;
    &__btn {
        padding: 0;
         border: none;
        background-color: transparent;
        color: #39515E;
           // smtablet screen
      @media screen and (min-width: 992px) {
    display: none;
  }
}
&__icon {
    fill:currentColor;
     // lgphone screen
     @media screen and (min-width: 575px) {
width: 42px; height: 24px;
  }

  // smtablet screen
  @media screen and (min-width: 768px) {
width: 30px; height: 17px;
  }
}
}
.nav, .header__btn {display: none;
        // smtablet screen
      @media screen and (min-width: 992px) {
        display: block;
          }
          }
.nav {
   margin-right: auto;
   
    &__list {
     
        display: flex;
        gap:40px;
         // desktop screen
  @media screen and (min-width: 1338px) {
      &__list {gap:50px;}
    }
    }
    &__link {
    padding-top:36px;
    padding-bottom: 29px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #263238;;
    }
   
}